body {
    background-color: rgb(15, 15, 15);
    color: white;
}
.animated-text {
  padding-top: 30vh;
  font-family: system-ui, sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin: 20px auto;
  width: 100%;
  background: linear-gradient(90deg, #ff0000, #ff7300, #ff00ff, #7300ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientMove 6s infinite;
}

.animated-text2 {
  font-family: system-ui, sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin: 20px auto;
  width: 100%;
  background: linear-gradient(90deg, #0077ff, #00d5ff, #ffcc00, #7300ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientMove 6s infinite;
}

@keyframes gradientMove {
  0% { background-position: 0%; }
  50% { background-position: 100%; }
  100% { background-position: 0%; }
}
